.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 2rem 6rem;
    .gallery-wrap{
        position:relative;
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        padding: 25px 15px;
    }
    .delete-item{
        position: absolute;
        top: 5%;
        right: 14%;
    }
    .item-img{
        display: block;
        width: 100%;
        img{
            margin: auto;
        }
    }
}
.spinner{
    display: none;
    border: 4px solid rgba($color: #000000, $alpha: 0.5);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}